apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
  namespace: hello-app   # <-- add this line
  labels:
    app: hello-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello-app
        image: davidahdy/ci-pipeline:latest
        ports:
        - containerPort: 3000

---
apiVersion: v1
kind: Service
metadata:
  name: hello-app-svc
  namespace: hello-app   # <-- also add here
spec:
  type: LoadBalancer
  selector:
    app: hello-app
  ports:
    - port: 80
      targetPort: 3000
